/* 마음대로 수정 금지!!! */

@font-face {
  font-family: "San Francisco";
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff);
}

/* IE */
select::-ms-expand { 
	display: none;
}

select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
  background-color: #808080;
  padding: 20px;
  display: flex;
  justify-content: center;
  min-width: 1400px;
}

.App .Frame {
  background-color: #ffffff;
  border-radius: 27.71px;
  display: flex;
  width: 1267px;
  position: relative;
  min-width: 1267px;
  height: auto;
}

.App .Frame .Banner {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 18.47px;
  height: auto;
  position: relative;
  border: 0.5px solid #808080;
  z-index: 2;
}

.App .Banner .Menu {
  margin-bottom: 100px;
  text-align: center;
  padding: 15px;
}

.App .Banner .Menu i {
  padding-right: 20px;
}

.App .Banner .Menu .Bt2 i {
  padding-right: 15px;
}

.App .Banner .Menu .LReports, .App .Banner .Menu .LLibrary, .App .Banner .Menu .LGraphDashboard, .App .Banner .Support .LSettings {
  display: flex;
  border-radius: 9.24px;
  padding: 10px;
  margin: 5px;
}

.App .Banner .Menu .LReportsactive, .App .Banner .Menu .LLibraryactive, .App .Banner .Menu .LGraphDashboardactive, .App .Banner .Support .LSettingsactive {
  background-color: #E6F9E9;
  display: flex;
  border-radius: 9.24px;
  padding: 10px;
  margin: 5px;
  color: #0AB22F;
}

.App .Banner .Support i {
  padding-right: 20px;
}

.App .Banner .SubTitle {
  padding: 5px;
  text-align: left;
  margin-left: 20px;
}

.App .Banner .Support {
  text-align: left;
  padding: 15px;
  margin-bottom: 200px;
}

.App .Banner .Info {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
}

.App .Banner .Info .Line {
  border: 1px solid #E5E5E5;
  width: 100%;
}

.App .Banner .Info .Contents {
  text-align: left;
  padding-top: 50px;
  padding-bottom: 30px;
  width: 200%;
}

.App .Banner .Info .Contents .Intro {
  font-weight: bold;
  font-size: small;
}

.App .Banner .Info .Contents .Contact {
  font-size: smaller;
  color: #878787;
}

.App .Frame .Reports {
  position: relative;
  background-color: #D3F8D5;
  border-radius: 27.71px;
  z-index: 1;
  width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 658px;
  right: 20px;
  flex: 1;
}

.App .Frame .Reports .wrap {
  padding-left: 52px;
  padding-right: 32px;
}

.App .Frame .Reports .wrap .head {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.App .Frame .Reports .wrap .head .title {
  font-weight: bold;
  font-size: 24px;
}

.App .Frame .Reports .wrap .head .download-button {
  display: flex;
  color: #4D4D4D;
  font-size: small;
  align-items: center;
  cursor: pointer;
}

.App .Frame .Reports .wrap .head .download-button .download {
  margin-left: 10px;
  font-weight: bold;
}

.App .Frame .Reports .wrap .time-setting {
  display: grid;
  justify-content: left;
  align-items: center;
  grid-template-columns: 140px 80px 300px 50px 300px;
  margin-top: 30px;
  font-size: larger;
  font-weight: bold;
  margin-left: 30px;
}

.App .Frame .Reports .wrap .time-setting .start-time, .App .Frame .Reports .wrap .time-setting .finish-time {
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
}

.App .Frame .Reports .wrap .time-setting .start-time input[type="datetime-local"], .App .Frame .Reports .wrap .time-setting .finish-time input[type="datetime-local"] {
  width: 100%;
  height: 100%;
  border-radius: 18.47px;
  border: none;
  box-shadow: 2px 2px #878787;
  font-size: 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  color: #5B5B5B;
}



.App .Frame .Reports .wrap .body {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.App .Frame .Reports .wrap .body .left {
  margin-right: 30px;
}

.App .Frame .Reports .wrap .body .left .car-photo {
  width: 330px;
  height: 150px;
  display: flex;
  margin-bottom: 30px;
  border-radius: 18.47px;
  box-shadow: 2px 2px #878787;
}

.App .Frame .Reports .wrap .body .left .car-photo img {
  width: 330px;
  height: 150px;
  border-radius: 18.47px;
}

.App .Frame .Reports .wrap .body .left .car-info {
  background-color: #FFFFFF;
  border-radius: 18.47px;
  width: 330px;
  height: 150px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px #878787;
}

.App .Frame .Reports .wrap .body .left .car-info ul {
  text-align: left;
  padding: 20px;
}

.App .Frame .Reports .wrap .body .left .car-info ul li {
  padding: 10px;
  font-weight: bold;
}

.App .Frame .Reports .wrap .body .left .car-status-left {
  display: grid;
  grid-template-columns: 150px 150px;
  column-gap: 30px;
  grid-template-rows: 150px 150px;
  row-gap: 30px;
  margin-bottom: 30px;
}

.App .Frame .Reports .wrap .body .right .map {
  background-color: #FFFFFF;
  border: 0.5px solid #878787;
  box-shadow: 2px 2px #878787;
  width: 510px;
  height: 510px;
  margin-bottom: 30px;
  overflow: hidden;
}

.App .Frame .Reports .wrap .body .right .map .naver-map {
  width: 100%;
  height: 510px;
}

.App .Frame .Reports .wrap .body .right .car-status-right {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  column-gap: 30px;
  grid-template-rows: 150px;
  row-gap: 30px;
  margin-bottom: 30px;
}

.App .Frame .Library {
  position: relative;
  background-color: #D3F8D5;
  border-radius: 27.71px;
  z-index: 1;
  width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 658px;
  right: 20px;
  flex: 1;
}

.App .Frame .Library .wrap {
  padding-left: 52px;
  padding-right: 32px;
}

.App .Frame .Library .wrap .head {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.App .Frame .Library .wrap .head .title {
  font-weight: bold;
  font-size: 24px;
}

.App .Frame .Library .wrap .body {
  padding-top: 30px;
  padding-left: 30px;
  display: grid;
  grid-template-columns: 413px 413px;
  column-gap: 35px;
  row-gap: 35px;
  margin-bottom: 30px;
}

.App .Frame .Settings {
  position: relative;
  background-color: #D3F8D5;
  border-radius: 27.71px;
  z-index: 1;
  width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 658px;
  right: 20px;
  flex: 1;
}

.App .Frame .Settings .wrap {
  padding-left: 52px;
  padding-right: 32px;
  padding-bottom: 10px;
}

.App .Frame .Settings .wrap .head {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.App .Frame .Settings .wrap .head .title {
  font-weight: bold;
  font-size: 24px;
}

.App .Frame .Settings .wrap .body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .Frame .Settings .wrap .body .templete {
  margin-top: 30px;
  background-color: #FFFFFF;
  border-radius: 18.47px;
  width: 700px;
  height: 150px;
  margin-bottom: 20px;
  box-shadow: 2px 2px #878787;
}


.App .Frame .Settings .wrap .body .templete .kind {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
}

.App .Frame .Settings .wrap .body .templete .kind .title {
  font-weight: bold;
  font-size: 20px;
}

.App .Frame .Settings .wrap .body .templete .kind .save {
  display: flex;
  justify-content: center;
  color: #07A020;
  font-size: 16px;
  align-items: center;
  width: 55px;
  height: 37px;
  border-radius: 9.24px;
  border: 0.5px solid #3AE055;
}

.App .Frame .Settings .wrap .body .templete .input input {
  border: 0.5px solid #878787;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 600px;
  height: 40px;
  font-size: 18px;
  padding-left: 20px;
}

.App .Frame .Settings .wrap .body .templete .input select {
  border: 0.5px solid #878787;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 600px;
  height: 40px;
  font-size: 18px;
  padding-left: 20px;
  border-radius: 0;
}



.OneToOne {
  width: 150px;
  height: 150px;
  background-color: #FFFFFF;
  border-radius: 18.47px;
  box-shadow: 2px 2px #878787;
  align-items: center;
}

.OneToOne .detail-button {
  position: relative;
  left: 128px;
  top: 5px;
  display: block;
  width: 14px;
  height: 14px;
}

.OneToOne .detail-button .tooltip {
  visibility: hidden;
  background-color: #FFFFFF;
  color: #808080;
  min-width: 120px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #3AE055;
  margin-left: 3px;
  top: -10px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
}

.OneToOne .detail-button:hover .tooltip {
  visibility: visible;
}

.OneToOne .detail-button i {
  font-size: 14px;
}

.OneToOne .title {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  height: 25px;
  width: 100px;
  color: #5B5B5B;
  margin: 0 auto;
}

.OneToOne .avg-value {
  font-size: 64px;
  height: 68px;
  font-weight: 900;
}

.OneToOne .unit {
  font-size: 24px;
}


.Video{
  width: 413px;
  height: 399px;
  padding-top: 20px;
  background-color: #FFFFFF;
  border-radius: 18.47px;
  box-shadow: 2px 2px #878787;
  align-items: center;
}

.Video img {
  width: 372px;
  height: 197px;
  border: 0.5px solid #878787;
  border-radius: 18.47px;
}

.Video .main {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
}

.Video .main .index {
  font-weight: bold;
  font-size: 24px;
}

.Video .main .download-button {
  display: flex;
  color: #4D4D4D;
  font-size: small;
  align-items: center;
}

.Video .main .download-button .download {
  margin-left: 10px;
  font-weight: bold;
}

.Video .from {
  display: flex;
  font-size: 20px;
  margin-left: 30px;
  margin-top: 15px;
}

.Video .to {
  display: flex;
  font-size: 20px;
  margin-left: 30px;
  margin-top: 30px;
}



/* 회원가입, 로그인, 아이디랑 비번찾기 화면에서 */
.hide_banner {
  background-color: #FFFFFF;
  position: absolute;
  z-index: 2;
  width: 1267px;
  min-width: 1267px;
  border-radius: 18.47px;
  height: auto;
  min-height: 692px;
}
