* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
  background-color: #808080;
  padding: 20px;
  display: flex;
  justify-content: center;
  min-width: 1400px;
}

.App .Frame {
  background-color: #ffffff;
  border-radius: 27.71px;
  display: flex;
  width: 1267px;
  position: relative;
  min-width: 1267px;
  height: auto;
}

.App .Frame .Banner {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 18.47px;
  height: auto;
  position: relative;
  border: 0.5px solid #808080;
  z-index: 2;
}

.App .Banner .Menu {
  margin-bottom: 100px;
  text-align: center;
  padding: 15px;
}

.App .Banner .Menu i {
  padding-right: 20px;
}

.App .Banner .Menu .Bt2 i {
  padding-right: 15px;
}

.App .Banner .Menu .LReports, .App .Banner .Menu .LLibrary, .App .Banner .Menu .LGraphDashboard, .App .Banner .Support .LSettings {
  display: flex;
  border-radius: 9.24px;
  padding: 10px;
  margin: 5px;
}

.App .Banner .Menu .LReportsactive, .App .Banner .Menu .LLibraryactive, .App .Banner .Menu .LGraphDashboardactive, .App .Banner .Support .LSettingsactive {
  background-color: #E6F9E9;
  display: flex;
  border-radius: 9.24px;
  padding: 10px;
  margin: 5px;
  color: #0AB22F;
}

.App .Banner .Support i {
  padding-right: 20px;
}

.App .Banner .SubTitle {
  padding: 5px;
  text-align: left;
  margin-left: 20px;
}

.App .Banner .Support {
  text-align: left;
  padding: 15px;
  margin-bottom: 200px;
}

.App .Banner .Info {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
}

.App .Banner .Info .Line {
  border: 1px solid #E5E5E5;
  width: 100%;
}

.App .Banner .Info .Contents {
  text-align: left;
  padding-top: 50px;
  padding-bottom: 30px;
  width: 200%;
}

.App .Banner .Info .Contents .Intro {
  font-weight: bold;
  font-size: small;
}

.App .Banner .Info .Contents .Contact {
  font-size: smaller;
  color: #878787;
}

.App .Frame .Reports {
  position: relative;
  background-color: #D3F8D5;
  border-radius: 27.71px;
  z-index: 1;
  width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 658px;
  right: 20px;
  flex: 1;
}

.App .Reports .wrap {
  padding-left: 60px;
  padding-right: 30px;
}

.App .Reports .wrap .head {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.App .Reports .wrap .head .title {
  font-weight: bold;
  font-size: 24px;
}

.App .Reports .wrap .head .download-button {
  display: flex;
  color: #4D4D4D;
  font-size: small;
  align-items: center;
}

.App .Reports .wrap .head .download-button .download {
  margin-left: 10px;
  font-weight: bold;
}