.find_id_password {
    margin-left: 5%;
}

.find_id_password .header_center {
    text-align: left;
    width: 500px;
}

.find_id_password .header_center .logo {
    width: 200px;
    height: auto;
    padding-right: 50px;
    padding-top: 20px;
}

.find_id_password .header_center .header1 {
    font-size: 32px;
    font-weight: bolder;
    padding-left: 95px;
    margin-top: 10px;
}

.find_id_password .header_center .header2 {
    font-size: 20px;
    padding-left: 100px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.find_id_password .input_center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
    margin-bottom: 25px;
}

.find_id_password .input_center .find_form {
    width: 450px;
}

.find_id_password .input_center .find_form .left_side {
    float: left;
    text-align: left;
    margin-left: 120px;
    margin-top: 0px;
    width: 300px;
}

.find_id_password .input_center .find_form .left_side .data_name {
    margin-top: 8px;
    width: 300px;
}

.find_id_password .input_center .find_form .left_side .data_name .input_box {
    width: 500px;
}

.find_id_password .input_center .left_side .find_button {
    width: 75%;
    background-color: #3AE6B2;
    border-radius: 25px;
    font-size: 15px;
    margin-left: 40px;
    margin-top: 30px;
}

.find_id_password .input_center .find_form .right_side {
    float: right;
    text-align: left;
    margin-right: 0px;
}

.find_id_password .input_center .find_form .right_side .data_name {
    margin-top: 8px;
    width: 300px;
}

.find_id_password .input_center .find_form .right_side .data_name .input_box {
    width: 500px;
}

.find_id_password .input_center .right_side .find_button {
    width: 75%;
    background-color: #3AE6B2;
    border-radius: 25px;
    font-size: 15px;
    margin-left: 40px;
    margin-top: 30px;
}

.find_id_password .tail_center {
    width: 100%;
}

.find_id_password .tail_center .service_text {
    font-weight: bolder;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 60;
}

.find_id_password .tail_center .link_text {
    text-align: center;
    margin-top: 15px;
    margin-left: 65;
}

.find_id_password .tail_center .line {
    width: 60%;
    border-top: 2.5px solid;
    margin-left: 270px;
    margin-top: 10px;
    margin-bottom: 10px;
}
