.SignUp {
    margin-left: 5%;
}

.SignUp .header_center {
    text-align: left;
    width: 500px;
}

.SignUp .header_center .logo {
    width: 200px;
    height: auto;
    padding-right: 50px;
    padding-top: 20px;
}

.SignUp .header_center .header1 {
    font-size: 32px;
    font-weight: bolder;
    padding-left: 95px;
    margin-top: 10px;
}

.SignUp .header_center .header2 {
    font-size: 20px;
    padding-left: 100px;
    margin-top: 10px;
    margin-bottom: 2px;
}

.SignUp .input_center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 15px;
}

.SignUp .input_center .signup_form {
    width: 1200px;
}

.SignUp .input_center .signup_form .left_side {
    float: left;
    text-align: left;
    margin-left: 250px;
    width: 300px;
}

.SignUp .input_center .signup_form .left_side .data_name {
    margin-top: 8px;
    width: 300px;
    text-align: left;
}

.SignUp .input_center .signup_form .left_side .data_name .input_box {
    width: 500px;
}

.SignUp .input_center .signup_form .right_side {
    float: right;
    text-align: left;
}


.SignUp .input_center .signup_form .right_side .data_name {
    margin-top: 8px;
    width: 500px;
}

.SignUp .input_center .signup_form .right_side .data_name .input_box {
    width: 500px;
}


.SignUp .input_center .signup_form .right_side .input_box .dedicating_button {
    border-radius: 20px;
    background-color: #3AE6B2;
    margin-top: 10px;
    margin-left: -120px;
    width: 100px;
    padding-left: 10;
}

.SignUp .car_selection {
    width: 800px;
    margin-top: 275px;
    margin-left: 0px;
}

.SignUp .menu {
    cursor: pointer; /* 클릭 가능하도록 커서 모양 변경 */
}

.SignUp .data_name .input_box {
    width: 900px;
}

.SignUp .signup_button {
    width: 30%;
    background-color: #3AE6B2;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 15px;
}

.SignUp .tail_center {
    width: 100%;
}

.SignUp .tail_center .service_text {
    font-weight: bolder;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 60;
}

.SignUp .tail_center .find_id_password {
    text-align: center;
    margin-top: 10px;
    margin-left: 65;
}

.SignUp .tail_center .tail2 {
    margin-top: 7px;
}